.container-footer{
    display: flex;
    position: fixed;
    align-items: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.346);
    width: 100%;
    bottom: 0;
    left: 0;
}

.container-footer h1{
    font-size: 15px;
    font-family: "Nunito", sans-serif;
    color: rgba(37, 4, 104, 0.373);
}